<%= turbo_frame_tag "new_task" do %>
  <%= form_with(model: task, 
                class: "tasks__item needs-validation", 
                data: { controller: "form-validation" }, 
                local: false) do |form| %>

    <div class="mb-2">
      <%= form.text_field :title, 
                          required: true, 
                          placeholder: "Title", 
                          class: "form-control", 
                          data: { form_validation_target: "input" } %>
      <div class="invalid-feedback">
        Title is required.
      </div>
    </div>

    <div class="mb-2">
      <%= form.text_area :description, 
                         placeholder: "Description", 
                         class: "form-control", 
                         data: { form_validation_target: "input" } %>
      <div class="invalid-feedback">
        Description cannot be empty.
      </div>
    </div>

    <div class="mb-2">
      <%= form.submit "Create",
        class: "px-3 py-1.5 rounded-full font-semibold text-white bg-purple-500 hover:bg-purple-600 focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-purple-400 shadow-md transition-all duration-150 hover:scale-105" %>
    </div>
  <% end %>
<% end %>
