<%= turbo_frame_tag "new_task" do %>
  <%= form_with(model: task, 
                class: "tasks__item needs-validation", 
                data: { controller: "form-validation" }, 
                local: false) do |form| %>

    <div class="mb-2">
      <%= form.text_field :title, 
                          required: true, 
                          placeholder: "Title", 
                          class: "form-control", 
                          data: { form_validation_target: "input" } %>
      <div class="invalid-feedback">
        Title is required.
      </div>
    </div>

    <div class="mb-2">
      <%= form.text_area :description, 
                         placeholder: "Description", 
                         class: "form-control", 
                         data: { form_validation_target: "input" } %>
      <div class="invalid-feedback">
        Description cannot be empty.
      </div>
    </div>

    <div class="mb-2">
      <%= form.submit "Create", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
